In [1]:
import pandas as pd
s=pd.Series()
print(s)
data=[1,2,3,4,5,6]

h=pd.Series(data)
print(data)
type(h)
h.dtype

Series([], dtype: object)
[1, 2, 3, 4, 5, 6]

dtype('int64')

In [2]:
data=[1,2,3,4,5,6]
print(pd.Series((data),dtype="float"))

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [3]:
import numpy as np 
a=np.array([1,2,3,4,5])
a
s=pd.Series(a)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [4]:
import pandas as pd
list=[1,2,3,4,"Tru",True]

s=pd.Series(list,dtype="object")
print(s)

0       1
1       2
2       3
3       4
4     Tru
5    True
dtype: object

In [5]:
v=pd.Series(["r","k","g",'l'],[1,2,3,4])
print(v)

1    r
2    k
3    g
4    l
dtype: object

In [6]:
import pandas as pd
a=pd.Series(data=["q","w","e","r"],index=[1,2,3,4])
print(a)

1    q
2    w
3    e
4    r
dtype: object

In [14]:
import pandas as pd
a=pd.Series(data=["q","w","e","r"],index=["a","s","d","f"])
print(a)
type(s)

a    q
s    w
d    e
f    r
dtype: object

pandas.core.series.Series

In [13]:
d1={1:"r",2:"e",3:"v",4:"d"}
print(d1)
s=pd.Series(d1)
print(s)
type(s)

{1: 'r', 2: 'e', 3: 'v', 4: 'd'}
1    r
2    e
3    v
4    d
dtype: object

pandas.core.series.Series

In [15]:
s=pd.Series(d1,[5,2,3,5,])
print(s)

5    NaN
2      e
3      v
5    NaN
dtype: object

In [17]:
s=pd.Series(10)
print(s)

0    10
dtype: int64

In [18]:
a=pd.Series(10,["a","b","c"])
print(a)

a    10
b    10
c    10
dtype: int64

In [23]:
a=pd.Series([1,2,3,4,5],["a","b","c","d","e"])
print(a)
print(a[0:3])

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
b    2
c    3
dtype: int64

In [25]:
print(a[3])

4

C:\Users\user\AppData\Local\Temp\ipykernel_16360\379985302.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(a[3])

In [27]:
print(a[0:3:2])

a    1
c    3
dtype: int64

In [28]:
print(a[:])

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [30]:
print(a[1])

2

C:\Users\user\AppData\Local\Temp\ipykernel_16360\2692428505.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(a[1])

In [33]:
a["c"]=100
print(a)

a      1
b      2
c    100
d      4
e      5
dtype: int64

In [35]:
print(a[["a","b","c"]])

a      1
b      2
c    100
dtype: int64

In [36]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [38]:
list=[1,2,3,4,5,6]
p=pd.DataFrame(list)
print(p)

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [39]:
l=pd.DataFrame(["a","b","c","d"])

print(l)

   0
0  a
1  b
2  c
3  d

In [40]:
lst=[[10,"k"],[20,"l"],[30,"p"]]
d=pd.DataFrame(lst)
print(d)

    0  1
0  10  k
1  20  l
2  30  p

In [42]:
lst=[[1,2,3,4],["a","b","c","d"]]
d=pd.DataFrame(lst)
print(d)

   0  1  2  3
0  1  2  3  4
1  a  b  c  d

In [44]:
lst=[["t",6],['k',3],['l',5]]
df=pd.DataFrame(lst,index=[1,2,3],columns=["name","age"])
print(df)

  name  age
1    t    6
2    k    3
3    l    5

In [45]:
df=pd.DataFrame(lst,columns=['name','age'])
print(df)

  name  age
0    t    6
1    k    3
2    l    5

In [51]:
df=pd.DataFrame(lst,index=[1,2,3],columns=['name','age'])
print(df)

  name  age
1    t    6
2    k    3
3    l    5

In [59]:
studs={"name":["d","s","a"],'sub1':["a","z","c"],'sub2':["qw","we","er"]}
print(studs)


print(pd.DataFrame(studs))

{'name': ['d', 's', 'a'], 'sub1': ['a', 'z', 'c'], 'sub2': ['qw', 'we', 'er']}
  name sub1 sub2
0    d    a   qw
1    s    z   we
2    a    c   er

In [58]:
studs={"name":pd.Series(["d","s","a"]),'sub1':pd.Series(["a","z","c"]),'sub2':pd.Series(["qw","we","er"])}
print(studs)
type(studs)
df=pd.DataFrame(studs,index=[100,200,300,400])
print(df)

{'name': 0    d
1    s
2    a
dtype: object, 'sub1': 0    a
1    z
2    c
dtype: object, 'sub2': 0    qw
1    we
2    er
dtype: object}
    name sub1 sub2
100  NaN  NaN  NaN
200  NaN  NaN  NaN
300  NaN  NaN  NaN
400  NaN  NaN  NaN

In [63]:
studs={"name":["d","s","a"],'sub1':["a","z","c"],'sub2':["qw","we","er"]}
print(studs)
type(studs)
df=pd.DataFrame(studs)
print(df)

{'name': ['d', 's', 'a'], 'sub1': ['a', 'z', 'c'], 'sub2': ['qw', 'we', 'er']}
  name sub1 sub2
0    d    a   qw
1    s    z   we
2    a    c   er

In [65]:
print(df["name"])

0    d
1    s
2    a
Name: name, dtype: object